<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MovieRecs Results</title>
</head>

<body>
    <h2>Search Results</h2>
    <br>
    <!-- allows users to continue search from this page-->
    <div id="search-bar-results">
        <input id="movie-search-results" type="text" placeholder="Enter a movie title or genre...">
         <!-- takes us to searchResults.ejs again, might change to input type submit for post-->
        <button id="search-button-results">Search!</button>
    </div>
    <br>
    <hr>
    <!-- will contain a series of divs that have all formatted movie info-->
    <div id="results">
        <%- recList %>
    </div>
    <br>
    <hr>
    <br>
    <!-- will look like "x results found"-->
    <%- recsFound %> 
    <!-- may add button to view watchlists somewhere around here...-->
</body>
</html>