<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MovieRecs Results</title>
</head>

<body>
    <h2>Search Results for: <%- movieName %></h2>
    <br>
    <!-- allows users to continue search from this page-->
    <form action="/searchResults" method="post">
        <div class="search-bar">
            <input name="search" type="text" placeholder="Enter a movie title or genre...">
            <!-- takes us to searchResults.ejs again, might change to input type submit for post-->
            <input type="submit" value="Search!">
        </div>
    </form>
    <br>
    <hr>
    <!-- will contain a series of divs that have all formatted movie info-->
    <div id="results">
        <%- recList %>
    </div>
    <br>
    <!-- will look like "x results found"-->
    <%- recsFound %> 
    <hr>
</body>
</html>