<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MovieRecs Watchlists</title>
</head>

<body>
    <h2>My Watchlists</h2>
    <br>
    <label>Favorites ...........................................................
        <!--onclick will take us to displayList.ejs with data from favorites list--> 
        <button id="view-planned">View</button></label>
    <br>    
    <label>Planned ............................................................. 
        <!--onclick will take us to displayList.ejs with data from planned list-->
        <button id="view-planned">View</button></label>
    <br>
    <label>Watched ............................................................. 
        <!--onclick will take us to displayList.ejs with data from watched list-->
        <button id="view-planned">View</button></label>
    <br>
    <label>On Hold ............................................................. 
        <!--onclick will take us to displayList.ejs with data from on hold list-->
        <button id="view-planned">View</button></label>
    <br>
    <hr>
</body>
</html>