<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MovieRecs Watchlists</title>
</head>

<body>
    <h2>My Watchlists</h2>
    <br>
    <h3>Favorites</h3>
    <%- favorites %>
    <br>    
    <h3>Planned</h3>
    <%- planned %>
    <br>
    <h3>Watched</h3>
    <%- watched %> 
    <br>
    <h3>On Hold</h3>
    <%- onHold %>
    <br>
    <hr>
</body>
</html>