<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MovieRecs Watchlists</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>My Watchlists</h2>
    <br>
    <hr>
    <h3>Favorites:</h3>
    <%- favoritesUL %>
    <br>    
    <h3>Planned:</h3>
    <%- plannedUL %>
    <br>
    <h3>Watched:</h3>
    <%- watchedUL %> 
    <br>
    <h3>On Hold:</h3>
    <%- onHoldUL %>
    <br>
    <hr>
</body>
</html>